/.project
/.idea
"/c++ obj evaluator/.idea"
.directory
OptimiserV2Modules/.idea/.name
OptimiserV2Modules/.idea/OptimiserV2Modules.iml
OptimiserV2Modules/.idea/codeStyles/Project.xml
OptimiserV2Modules/.idea/misc.xml
OptimiserV2Modules/.idea/modules.xml
OptimiserV2Modules/.idea/workspace.xml
