/.project
/.idea
"/c++ obj evaluator/.idea"
.directory
OptimiserV2Modules/.idea/.name
OptimiserV2Modules/.idea/OptimiserV2Modules.iml
OptimiserV2Modules/.idea/codeStyles/Project.xml
OptimiserV2Modules/.idea/misc.xml
OptimiserV2Modules/.idea/modules.xml
OptimiserV2Modules/.idea/workspace.xml
OptimiserV2Modules/cmake-build-debug/CMakeCache.txt
OptimiserV2Modules/cmake-build-debug/CMakeFiles/3.10.3/CMakeCCompiler.cmake
OptimiserV2Modules/cmake-build-debug/CMakeFiles/3.10.3/CMakeCXXCompiler.cmake
OptimiserV2Modules/cmake-build-debug/CMakeFiles/3.10.3/CMakeDetermineCompilerABI_C.bin
OptimiserV2Modules/cmake-build-debug/CMakeFiles/3.10.3/CMakeDetermineCompilerABI_CXX.bin
OptimiserV2Modules/cmake-build-debug/CMakeFiles/3.10.3/CMakeSystem.cmake
OptimiserV2Modules/cmake-build-debug/CMakeFiles/3.10.3/CompilerIdC/a.out
OptimiserV2Modules/cmake-build-debug/CMakeFiles/3.10.3/CompilerIdC/CMakeCCompilerId.c
OptimiserV2Modules/cmake-build-debug/CMakeFiles/3.10.3/CompilerIdCXX/a.out
OptimiserV2Modules/cmake-build-debug/CMakeFiles/3.10.3/CompilerIdCXX/CMakeCXXCompilerId.cpp
OptimiserV2Modules/cmake-build-debug/CMakeFiles/clion-environment.txt
OptimiserV2Modules/cmake-build-debug/CMakeFiles/clion-log.txt
OptimiserV2Modules/cmake-build-debug/CMakeFiles/cmake.check_cache
OptimiserV2Modules/cmake-build-debug/CMakeFiles/CMakeOutput.log
OptimiserV2Modules/cmake-build-debug/CMakeFiles/feature_tests.bin
OptimiserV2Modules/cmake-build-debug/CMakeFiles/feature_tests.c
OptimiserV2Modules/cmake-build-debug/CMakeFiles/feature_tests.cxx
